@font-face {
    font-family: 'NaikaiFont';
    src: url('../../public/fonts/naikaifont/NaikaiFont-Light.woff2') format('woff2'),
        url('../../public/fonts/naikaifont/NaikaiFont-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}





/* Lite (精簡版) */
@font-face {
    font-family: 'NaikaiFontLite';
    src: url('../public/fonts/NaikaiFont-Regular-Lite.woff2') format('woff2'),
        url('../public/fonts/NaikaiFont-Regular-Lite.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+4E00-9FFF;
    /* 只針對繁體中文常用字 */
}