@font-face {
    font-family: 'NaikaiFont';
    src: url('../../../public/fonts/naikaifont/NaikaiFont-Regular.woff2') format('woff2'),
        url('../../../public/fonts/naikaifont/NaikaiFont-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}